#midPage {
    background-color: white;
    height: 90vh;
    text-align: center;
    animation-name: backgroundAni,entrance;
    animation-duration: 20s,2s;
    animation-iteration-count: infinite, 1;
}

.middleAlign {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
}

#welcome {
    /* padding-top: 50%; */
    background-color: transparent;
    /* padding-bottom: 0; */
    animation-name: welcome;
    animation-duration: 6s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
} 

#gameName {
    opacity: 0;
    animation-name: welcome;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

#loadPage {
    position: absolute;
    top: 50%; 
    left: 50%;
    border: 16px solid #f3f3f3; 
    border-top: 16px solid blueviolet; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    opacity: 0;
    animation-name: loaderDisappear, spin;
    animation-delay: 6s;
    animation-duration: 5s,5s;
    animation-fill-mode: forwards;
}
/* input[type=text] {
    background-color:rgb(85, 71, 84);
    color: rgb(196, 194, 194);
    height: 4vh;
} */

.form-control {
    /* background-color:rgb(85, 71, 84); */
    background-color: transparent;
    color: #aeaeae;
    font: 14px "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    border: none;
}

/* User Input Message Box */
/* .inputMessageBox{
} */
/* .chatbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
} */

/* .buttonInsert {
    margin-bottom: 2.5%;
    margin-right: 0%;
} */

#insertText {
    background-color:rgb(60, 51, 61);
    color: #aeaeae;
    max-height: 200px;
    height: 31px;
    font-size: 14px;
    padding: 5px 10px;
    padding-right: 30px;
    overflow-y: auto;
    word-wrap:break-word;
    resize: none;  
}
textarea#insertText::-webkit-scrollbar{
    width: 0px;
  }

button#submitMessage {
    position: absolute;
    background: transparent;
    border: none;
    color: white;
    bottom: 7px;
    right: 1%; 
  }

  input[type=button],input[type=text]{
    background-color:rgb(60, 51, 61);
    color: #aeaeae;
    height: 4vh;
    padding:1px;
    font-size: 2vh;
}



@keyframes spin {
0% {transform: translate(-50%,-50%) rotate(0deg)  }
50% { transform: translate(-50%,-50%) rotate(180deg) }
75% { transform: translate(-50%,-50%) rotate(360deg) }
90% { transform: translate(-50%,-50%) rotate(360deg) scale(1.5)}
100% { transform: translate(-50%,-50%) rotate(360deg) scale(1)}
}

/* @keyframes entrance { 
    0% {transform:scale(4);}
    100% {transform: scale(1);}
} */

@keyframes backgroundAni{
    0% {background-color:rgb(63, 55, 71);}
    50% {background-color:rgb(38, 40, 43);}
    100% {background-color:rgb(63, 55, 71);}
}

@keyframes loaderDisappear {
    0% {opacity: 0;}
    25% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0; display:none}
}
@keyframes welcome {
    0% {opacity: 0;}
    25% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0; display:none}
}


.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
display: flex;
justify-content: space-between;
flex-direction: column;
}

.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}

/* .sidenav :hover {
color: #f1f1f1;
} */

.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

button#logout{
    background: transparent;
    border: none;
    color: white;
    height: auto;
    display: flex;
    padding: 20px;
    color: #818181;
    font: 5px;
}
.hover :hover {
    color: #f1f1f1;
}
.hover:hover {
    color: #f1f1f1;
}

#main {
transition: margin-left .5s;
padding: 16px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

.box { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-flow: row wrap;
}
.inner { 
    margin: 15px 50svh;
    padding: 10px;
}
.bt { 
    border: 2px solid grey;
    border-radius: 10px;
}
.subs { 
    position:relative;
    top: 150px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    color:transparent
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(68, 68, 68,1);
    border-radius: 50px;
    box-shadow: 0 0 5px black;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #202020;
  }

  .screenChange{
    height: 85vh;
    max-height: 85vh;
  }

  @media screen and (max-width: 576px){
    .screenChange { 
        height: 35vh;
        max-height: 35vh;

    }
}