:root {
    --primary-color: #3F3747;
    --secondary-color: #26282B;
    --text-color: #ffffff;

}

body{
    background: linear-gradient(225deg,rgb(63, 55, 71) 50%,rgb(38, 40, 43) 90%);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#midPage {
    background-color: white;
    height: 90vh;
    text-align: center;
    animation-name: backgroundAni,entrance;
    animation-duration: 20s,2s;
    animation-iteration-count: infinite, 1;
}

.middleAlign {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
}

#welcome {
    /* padding-top: 50%; */
    background-color: transparent;
    /* padding-bottom: 0; */
    animation-name: welcome;
    animation-duration: 6s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
} 

#gameName {
    opacity: 0;
    animation-name: welcome;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

#loadPage {
    position: absolute;
    top: 50%; 
    left: 50%;
    border: 16px solid #f3f3f3; 
    border-top: 16px solid blueviolet; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    opacity: 0;
    animation-name: loaderDisappear, spin;
    animation-delay: 6s;
    animation-duration: 5s,5s;
    animation-fill-mode: forwards;
}

.form-control {
    /* background-color:rgb(85, 71, 84); */
    background-color: transparent;
    color: #aeaeae;
    font: 14px "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    border: none;
}

.chatbox {
    color: var(--text-color)
}

#insertText {
    background-color:rgb(60, 51, 61);
    color: #aeaeae;
    max-height: 200px;
    height: 31px;
    font-size: 14px;
    padding: 5px 10px;
    padding-right: 30px;
    overflow-y: auto;
    word-wrap:break-word;
    resize: none;  
}
textarea#insertText::-webkit-scrollbar{
    width: 0px;
  }

button#submitMessage {
    position: absolute;
    background: transparent;
    border: none;
    color: white;
    bottom: 7px;
    right: 1%; 
  }

input{
    background-color:rgb(60, 51, 61);
    color: #aeaeae;
    height: 4vh;
    padding:1px;
    font-size: 2vh;
}



@keyframes spin {
0% {transform: translate(-50%,-50%) rotate(0deg)  }
50% { transform: translate(-50%,-50%) rotate(180deg) }
75% { transform: translate(-50%,-50%) rotate(360deg) }
90% { transform: translate(-50%,-50%) rotate(360deg) scale(1.5)}
100% { transform: translate(-50%,-50%) rotate(360deg) scale(1)}
}

@keyframes backgroundAni{
    0% {background-color:rgb(63, 55, 71);}
    50% {background-color:rgb(38, 40, 43);}
    100% {background-color:rgb(63, 55, 71);}
}

@keyframes loaderDisappear {
    0% {opacity: 0;}
    25% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0; display:none}
}
@keyframes welcome {
    0% {opacity: 0;}
    25% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0; display:none}
}


.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
display: flex;
justify-content: space-between;
flex-direction: column;
}

.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}

/* .sidenav :hover {
color: #f1f1f1;
} */

.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

a.logout{
    border: none;
    color: white;
    width: max-content;
    height: auto;
    display: flex;
    padding: 20px;
    color: #818181;
    font: 5px;
}
/* button#logout{
    background: transparent;
    border: none;
    color: white;
    height: auto;
    display: flex;
    padding: 20px;
    color: #818181;
    font: 5px;
} */
.hover :hover {
    color: #8b8b8b;
}
.hover:hover {
    color: #8b8b8b;
}

#main {
transition: margin-left .5s;
padding: 16px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

.box { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-flow: row wrap;
}
.inner { 
    margin: 15px 50svh;
    padding: 10px;
}
.bt { 
    border: 2px solid grey;
    border-radius: 10px;
}
.subs { 
    position:relative;
    top: 150px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    color:transparent
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(68, 68, 68,1);
    border-radius: 50px;
    box-shadow: 0 0 5px black;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #202020;
  }

  .screenChange{
    height: 85vh;
    max-height: 85vh;
  }

  .screenChange2{
    height: 78vh;
    max-height: 78vh;
  }

  @media screen and (max-width: 576px){
    .screenChange { 
        height: 33vh;
        max-height: 33vh;

    }
    .screenChange2{
        height: 25vh;
        max-height: 25vh;
    }
}

#GRbackButton{
    position: absolute; 
    left: 20px; 
    top: 5px;
}

.backButton{
    border-radius: 20px;
    background-color: rgb(125, 125, 125); 
    color: lightgray;
}

/*gameRooms*/
.gameNodes{
    border: rgb(52, 52, 52,0.4) 4px solid;
    border-radius: 40px;
    height: 200px;
    width: 450px;
    background-color: rgb(41, 32, 41, 0.4);
    color: aliceblue;
    padding: 10px;
    margin:10px;
    font-size:medium;
  }

.roomFormatting{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
}

/*Main colouring*/
#topPage{
    background-image: linear-gradient(225deg,var(--primary-color) 50%,var(--secondary-color) 90%);  
}

#botPage{
    background-image: linear-gradient(45deg,var(--primary-color) 50%,var(--secondary-color) 90%);  
}
/*Main formatting*/
#botPage, #topPage{
    text-align: center;
    height: 5vh;
}

#midPage {
    max-height: 90vh;
    overflow-y: auto;
}

.centerItems {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
}

/* settings */

.pages{
    display: flex; 
    flex-direction: column;
}

.settingOptions {
    float: left;
    top: 5%;
    padding: 10px;
    position: absolute;
    width: 170px;
    height: 90vh;
    background: #202020;
}

.tab {
    list-style: none;
    padding-left: 20%;
    padding-top: 10%;
    font: 100px;
    display: block;
    color: white;
    text-decoration: none;
}

nav a.active {
    color: #5f1299
}

.rightbox {
    display: flex;
    height: 85vh;
    margin-left: 200px;
    margin-top: 5vh;
    color:#ffffff;
}
.tabShow {
    transition: all .5s ease-in;
    width: 80%;
    margin-left: 5%;;
}

.inputAccount {
    border:0;
    border-bottom: 1px solid #202020;
    outline: none;
    background: none;
}
