body { 
    background-image: url("/static/img/mainPage3.png");
    background-color: rgb(60, 51, 61);
    background-size: cover;
    background-blend-mode:luminosity;
    
}
#prof-head{ 
    text-align: center;
    background-color: lightgrey; 
    width: 40svw; 
    padding: 10px; 
    margin: 30px auto;
    border-radius: 10px;
    font-family: "Garamond", "Verdana", monospace;
}
#ref { 
    display:none;
}
.main{ 
    display:flex;
    justify-content: space-evenly;
    flex-flow: wrap-reverse;
}
.rooms{ 
    display:flex;
    flex-flow:column;
    align-content:space-between;
}
.room { 
    display:flex;
    flex-flow:column;
    align-content:space-between;
    column-gap: 20px;
    margin: 20px;
    width: 40svw;
}
.rm_name{ 
    background:#3a3341;
    width: 40svw;
    border-radius:5px;
    color: #8f8f8f;
    padding: 20px;
    text-align: center;
    text-decoration: underline;
    font-weight:bold;
    border: solid #26282B 5px; 
}
.cont { 
    justify-content:left; 
    background: #3a3341;
    color: white;
    padding:40px 30px; 
    border-radius:20px;
    border: solid #26282B 5px; 
    max-height: 40vh;
    word-wrap: break-word;
    overflow-y:auto;
}
.msg { 
    padding: 10px;
    border-radius: 5px;
    background:#3a3341;
    color:#a1a1a1;
}
#search{ 
    display:flex;
    flex-flow:column;
    width: 50svw; 
    /* align-content:space-evenly; */
}
#filter{ 
    /* width: 50svw;  */
    padding: 30px;
    border:solid #26282B 5px;
    border-radius:7px;
    text-align:center;
    margin: 20px;
    background:#3a3341;
    color:#bebebe; 
}
#search-box{ 
    display:flex;
    background:#3a3341; 
    padding: 30px;
    border:solid #26282B 5px;
    border-radius:10px;
    justify-content:left; 
    flex-flow:column wrap;
    gap:20px;
    
}
#sbar { 
    margin:auto;
    text-align: center;
}
.smsg { 
    padding: 10px;
    border-radius: 5px;
    background:#3a3341;
    color:#8a8a8a; 
}

#srtxt{
    width:50%;
}


