.profileBack { 
    background-image: url("/static/img/mainPage3.png");
    background-repeat: repeat-x;
    background-blend-mode:multiply;
    height: 100vh;
}
#prof-head{ 
    text-align: center;
    background-color: lightgrey; 
    width: 40svw; 
    padding: 10px; 
    margin: 30px auto;
    border-radius: 10px;
    font-family: "Garamond", "Verdana", monospace;
}
#ref { 
    display:none;
}
.main{ 
    display:flex;
    justify-content: space-evenly;
    flex-flow: wrap-reverse;
}
.rooms{ 
    display:flex;
    flex-flow:column;
    align-content:space-between;
}
.room { 
    display:flex;
    flex-flow:column;
    align-content:space-between;
    column-gap: 20px;
    margin: 20px;
    width: 40svw;
}
.rm_name{ 
    background:#260213;
    width: 40svw;
    border-radius:5px;
    color: #a10b62;
    padding: 20px;
    text-align: center;
    text-decoration: underline;
    font-weight:bold;
}
.cont { 
    display:flex;
    justify-content:left; 
    background: #4a0459;
    flex-flow: column wrap;
    color: white;
    padding:40px 30px; 
    border-radius:20px;
    border: solid #9806b8 5px; 
}
.msg { 
    padding: 10px;
    border-radius: 5px;
    background:#260213;
    color:#a10b62;
}
#search{ 
    display:flex;
    flex-flow:column;
    width: 50svw; 
    /* align-content:space-evenly; */
}
#filter{ 
    /* width: 50svw;  */
    padding: 30px;
    border:solid #196bcf 5px;
    border-radius:7px;
    text-align:center;
    margin: 20px;
    background:#13234f;
    color:#14c6c9; 
}
#search-box{ 
    display:flex;
    background:#120552; 
    padding: 30px;
    border:solid #196bcf 5px;
    border-radius:10px;
    justify-content:left; 
    flex-flow:column wrap;
    gap:20px;
}
#sbar { 
    margin:auto;
    text-align: center;
}
.smsg { 
    padding: 10px;
    border-radius: 5px;
    background:#042d2e;
    color:#14c6c9; 
}


