<!DOCTYPE html>
<html lan="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta http-equiv = "refresh" content = "2; href = webGame_copy.html"> -->

    <title>The Missing Game</title>

    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="../css/mainPageStyle.css">
</head>
<body>
    
    
    <div class="container-fluid" style="text-align: center;background-image: linear-gradient(225deg,rgb(63, 55, 71) 50%,rgb(38, 40, 43) 90%);  height: 5vh;">
        <div class="d-flex" style="padding-top: 0.5vh">
            <div class="col-sm-6"></div>
            <div class="col-sm-2">
            <!-- <input type="text" placeholder = "Username" class="form-control" > -->
            <!-- <input type="text"><button type="button">Login</button><button type="button">Sign Up</button> -->
            </div>
            <div class="col-sm-2">
                <!-- <input type="text" placeholder="Password" class="form-control" > -->
            </div>
            <div class="col-sm-1 hover">
                <input type="button" value="Login" class="form-control" onclick="document.location.href='login.html';">
            </div>
            <div class="col-sm-1 hover">
                <input type="button" value="Sign up" class="form-control" onclick="document.location.href='signup.html';">
            </div>
    
        </div>
    </div>

    <div id="midPage" class="container-fluid" style="display: flex; padding: 0px;">
        <div class="col-sm-4" style="background-color: rgb(116, 115, 126);">
            <div id="main" style="margin-top: 40vh; text-align: left;">
                <span style="font-size:30px;cursor:pointer;color: #d4d4d4;" onclick="toggleNav()">&#8692;</span>
            </div>
        </div>
        <div class="col-sm-8 " style="background-color:rgb(68, 58, 68); color:white;">
            <div id="textBox" style="height:85vh; width: 66vw; padding: 50px; display: flex;">
                <div id="textMessage" style="position:fixed; align-self:flex-end; text-align: left;word-wrap: break-word; overflow-y: auto; max-height: 78vh; width: 63vw;">

                </div>
            </div>
            <div>
                <form id="input">
                    <div class="inputMessageBox">
                        <textarea id="insertText" name="myInput" rows="4" cols="50" style="border-radius: 20px;width:50vw;" placeholder="Type your message here..." autofocus></textarea>
                        <button id="submitMessage" type="submit"><i class="bx bx-send" id="send"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="text-align: center;background-image: linear-gradient(45deg,rgb(63, 55, 71) 50%,rgb(38, 40, 43) 90%); height: 5vh">
        <div style="padding-top: 1vh; color:white">@2023 Copyright</div>
    </div>

    <div id="mySidenav" class="sidenav hover">
        <div id="navChoices">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="rooms.html">Game Rooms</a>
            <a href="stats.html">Stats</a>
            <a href="profile.html">Profile</a>
            <a href="settings.html">Settings</a>
        </div>
        <button id="logout" type="submit"><i class="bx bx-log-out bx-md"></i></button>
    </div>    
    <script src="../js/mainPageJS.js"></script>
</body>

</html>