{% extends 'baseHTML.html' %}
    {%block main%}
    <div class="container-fluid" id="topPage">
        <div class="d-flex" style="padding-top: 0.5vh">
            <div class="col-sm-4"></div>
            <div class="col-sm-2">
                    <input type="button" id="logout" value="Logout">
            <!-- <input type="text" placeholder = "Username" class="form-control" > -->
            <!-- <input type="text"><button type="button">Login</button><button type="button">Sign Up</button> -->
            </div>
            <div class="col-sm-2 aa">
                {% if gameRoom.turnNumber == 0 %}
                <input type = "button" id="start" value="Start" onclick="this.style.display='none'">
                {% endif %}
            <!-- <input type="text" placeholder = "Username" class="form-control" > -->
            <!-- <input type="text"><button type="button">Login</button><button type="button">Sign Up</button> -->
            </div>
            <div class="col-sm-2">
                <!-- <input type="text" placeholder="Password" class="form-control" > -->
            </div>
            {% if current_user.is_anonymous %}
            <div class="col-sm-1 hover">
                <input type="button" value="Login" class="form-control" onclick="document.location.href='/login';">
            </div>
            <div class="col-sm-1 hover">
                <input type="button" value="Sign up" class="form-control" onclick="document.location.href='/signup';">
            </div>
            {% else %}
            <div class="col-sm-1" style="color:aliceblue">{{current_user.username}}</div>
            <a id="logout" class="logout-corner col-sm-1" href="{{ url_for('users.logout') }}"><i class="bx bx-log-out bx-sm"></i></a>
            {% endif %}
    
        </div>
    </div>

    <div id="midPage" class="container-fluid" >
        <div class="row" style="height:90vh; max-height: 90vh;">
            <div class="col-sm-4 backImage" style="background-color: rgb(41, 35, 41); background-blend-mode:normal; background-image: url(/static/img/gameMaster.gif);">
                <div class="left_box" style="display: flex;">
                    <div id="main" style="margin-top: 40vh; text-align: left;width: 30px;">
                        <span class="navButton" onclick="toggleNav()">&#8692;</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 chatbox backImage" style="background-color:rgb(68, 58, 68); color:white; background-image: url(https://1.bp.blogspot.com/-3dJaGBCMKbA/VqcFiK9zO1I/AAAAAAAAW9Y/xCakJ-OxsS8/s640/quantum_stars.gif);">
                <div id="textBox" class="screenChange" style=" width: 100%; padding: 50px; display: flex;"> 
                    <div id="textMessage" class="screenChange2" style=" text-align: left; word-wrap: break-word; overflow-y: auto; width: 100%;">

                    </div>
                </div>
                <div>
                    <form id="input">
                        <div class="inputMessageBox hover">
                            <textarea id="insertText" name="myInput" style="border-radius: 20px; width:90%" placeholder="Type your message here..." autofocus></textarea>
                            <button class="buttonInsert" id="submitMessage" type="submit" style="bottom: 7px;"><i class="bx bx-send buttonInsert" id="send"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div id="mySidenav" class="sidenav hover">
        <div id="navChoices">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/rooms">Game Rooms</a>
            <a href="/profile">Profile</a>
            <a href="/settings">Settings</a>
        </div>
        <a id="logout" class="logout" href="{{ url_for('users.logout') }}"><i class="bx bx-log-out bx-md"></i></a>
    </div>    
    <div class="container-fluid" id="botPage">
        <div style="padding-top: 1vh; color:white; font-size: 2vh;">@2023 Copyright</div>
    </div>
    <script>
        function addMessage(name,msg){ 
            $('#textMessage').append($('<p style="margin:0;">').html(name));
                $('#textMessage').append($('<p style="margin:5px;margin-left:20px;">').html(msg));
        }
        $(document).ready(function() {
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('connect', function(message){ 
                socket.send("Host side connected");
                socket.emit('connected',{'room':"{{room}}"})
            })
            socket.on('display-prev', function(data){ 
                console.log(data)
                txt = data.txt 
                usrs = data.usr
                for (i=0;i<txt.length;i++) { 
                    addMessage(usrs[i],txt[i])
                }
            })
            socket.on('server-response',data=>{ 
                console.log("server reponses");
                console.log(data['message'] + data['name']);
                addMessage(data['name'],data['message'])
            })
            socket.on('joined', data => { 
                console.log("SERVER" + "Welcome to room "+ data['room'] + " " + data['name'] + "!")
                addMessage("SERVER", "Welcome to room "+ data['room'] + " " + data['name'] + "!")
            })
            socket.on('left', data => { 
                console.log('User left')
                addMessage("SERVER",data['name'] + " has left room " + data['room']  + "!")
            })
            socket.on('gpt-res', function(data){ 
                console.log("GAMEMASTER MESSAGING")
                addMessage("GAMEMASTER",data['message'])
            });
            window.addEventListener('popstate', function(event) {
                socket.emit('leave_room', {});  
                socket.disconnect();
            // Perform actions when the user presses the back button
            // You can emit socket events, close the connection, or execute any other necessary logic
            });
            window.addEventListener('beforeunload', function() {
                socket.disconnect();  // Close the socket connection when the user leaves the page
            });
            $('#navChoices').click(e=>{ 
                socket.emit('leave_room', {});
                socket.disconnect()
            })
            $('#logout').click(e=>{ 
                socket.emit('leave_room', {});
                socket.disconnect()
            })
            $('#insertText').keydown(function(e) {
            var key = e.keyCode || e.which; 
            if (key === 13){ 
                event.preventDefault();
                var message = $('#insertText').val();
                socket.emit('player-mes',{'data':message});
                $('#insertText').val('');
            }
            });
            $('#start').click(e=>{
                e.preventDefault();
                console.log("GM START TRIGGER")
                socket.emit('start-game',{});
            });
            $('#logout').click(e=>{ 
                e.preventDefault(); 
                socket.emit('leave_room', {});
            })
            colorChange('{{setting.primaryColor}}', '{{setting.secondaryColor}}', '{{setting.textColor}}');
        });
      </script>
    <script src="{{ url_for('static', filename='./js/mainPageJS.js') }}"></script>
{%endblock%}