{% extends 'baseHTML.html' %}
    {%block main%}
    <div class="container-fluid" id="topPage">
    </div>

    <div id="midPage" class="container-fluid" style="text-align: center; color:darkgray; padding: 0; font-size:xx-large;">
        
        <div style="background-color: transparent;padding-top: 20px; padding-bottom: 20px;">
            <h1><b>Create Room</b></h1>
        </div>


        <div class="row" style="margin:0; background-color: transparent;">
            <div class="col-md-4 scenarioBox">
                <form action="{{url_for('rooms.createdRoom')}}" method="POST">
                    <button class="scenarioButton">
                        <input type="hidden" value="This an adventure to the centre of the Earth. A journey involving dark worldy secrets and discovery
                        of mythical creatures and technology thought to be lost" name="scenario">
                    <h2>Journey to the Center of the Earth</h2>
                    <img class="scenarioImage" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/dc82fb44263453.580dd1bf77b62.jpg">
                    </button>
                </form>
            </div>
            <div class="col-md-4 scenarioBox" >
                <form action="{{url_for('rooms.createdRoom')}}" method="POST">
                <button class="scenarioButton">
                    <input type="hidden" value="This is an adventure from the depths of hell, you are either trying to escape or conquer Hell. Hell is a mysterious barren landscape where you will meet 
                    lost souls and mysterious beings both formidable and devious. You will discover the secrets of hell throughout your journey." name="scenario">
                    <h2>Escape from HELL</h2>
                    <img class="scenarioImage" src="https://d3d00swyhr67nd.cloudfront.net/w800h800/collection/CDN/WELL/CDN_WELL_L_30887-001.jpg">
                </button>
                </form>
            </div>
           
            <div class="col-md-4 scenarioBox"> 
                <form action="{{url_for('rooms.createdRoom')}}" method="POST">
                <button class="scenarioButton">
                    <input type="hidden" value="You have been chosen to partake in the trial of God, you will wonder many worlds and partake in the 
                    arduous trials that each God has deviously planned. Will you survive or suffer a fate worse than death." name="scenario">
                    <h2>Trials of the Gods</h2>
                    <img class="scenarioImage" src="https://i.ytimg.com/vi/DyBDy8urs1Q/maxresdefault.jpg">
                </button> 
                </form>
            </div>
           
        </div>
        <div>
            <form action="{{ url_for('rooms.createdRoom') }}" method="POST">
                <div>Create your scenario</div>
                <textarea rows="5" maxlength="500" class="customScenario" name="scenario"></textarea>
                <input type="submit" value="Create Game" style="width: 10%;"> 
            </form>
        </div>
        <div><input type="button" value="Cancel" onclick="window.open('/rooms', '_parent')"></div>
        
    
    </div>

    <div class="container-fluid" id="botPage">
        <div style="padding-top: 1vh; color:white">@2023 Copyright</div>
    </div>
{%endblock%}