{% extends 'baseHTML.html' %}
    {%block main%}
    <div class="container-fluid" style="text-align: center;background-image: linear-gradient(225deg,rgb(63, 55, 71) 50%,rgb(38, 40, 43) 90%);  height: 5vh;">
    </div>

    <div id="midPage" class="container-fluid" style="text-align: center; color:darkgray; padding: 0; font-size:xx-large;">
        
        <div style="background-color: transparent;padding-top: 20px; padding-bottom: 20px;">
            <h1><b>Create Room</b></h1>
        </div>

        <div class="row" style="margin:0; background-color: transparent;">
            <div class="col-md-4" style="border-radius: 50px; background-color: mediumpurple;">
                Journey to the Center of the Earth
            </div>
            <div class="col-md-4" style="border-radius: 50px; background-color: mediumpurple;">
                Escape from HELL
            </div>
            <div class="col-md-4" style="border-radius: 50px; background-color: mediumpurple;">
                Trial of the Gods
            </div>
        </div>
        <div>
            <div>Create your scenario</div>
            <textarea rows="5" maxlength="500" style="width: 90vw; background-color:rgb(45, 45, 45); color: rgb(166, 166, 166);"></textarea>
            <input type="submit" value="Create Game" style="width: 10%;"> 
        </div>
        
    
    </div>

    <div class="container-fluid" style="text-align: center;background-image: linear-gradient(45deg,rgb(63, 55, 71) 50%,rgb(38, 40, 43) 90%); height: 5vh">
        <div style="padding-top: 1vh; color:white">@2023 Copyright</div>
    </div>
{%endblock%}