{% extends 'baseHTML.html' %}
    {%block main%}
    <script>
      const container = document.getElementById('container');

      document.addEventListener('keydown', event => {
        const keyChar = String.fromCharCode(event.keyCode);
        const keyCharEl = document.createElement('div');
        keyCharEl.textContent = keyChar;
        keyCharEl.classList.add('key-char');
        keyCharEl.style.left = `${Math.random() * 98}%`;
        container.appendChild(keyCharEl);

        const dropInterval = setInterval(() => {
          const top = parseInt(keyCharEl.style.top) || 0;
          keyCharEl.style.top = `${top + 1}px`;

          if (top >= window.innerHeight - keyCharEl.offsetHeight -10) {
            clearInterval(dropInterval);
            keyCharEl.style.opacity = 0;
            setTimeout(() => {
              keyCharEl.remove();
            }, 1000);
          }
        }, 10);
      });
    </script>
    <div id="topPage">
    </div>
    <div id="midPage" class="container-fluid">
        <div class="middleAlign" style="color: white;">
            <h1 id="welcome">Welcome to&#160</h1><br><br>
            <h1 id="gameName"> GameMaster</h1>
        </div>
        <div id="loadPage"></div>
    </div>
    <div id="botPage">
    </div>
    <script>
    setTimeout(
        function (){
        window.open("{{ url_for('main.index')}}", '_parent')}
        ,11000);
    </script>
{%endblock%}