{% extends 'baseHTML.html' %}
{%block main%}
    <h1 id="prof-head">Profile</h1>
    <div id="search-box"> 
        <!-- <h2 id="search-head">SEARCH</h2> -->
        <div id="sbar"> 
            <input type="text" name="search">
            <button>Search</button>
        </div>
    </div>
    {%for r in rooms%}
        <h2 class="rm_name">{{r.roomName}}</h2>
        <div class="cont">
            {%for m in msgs%}
                {% if m.roomID == r.roomID %}
                    <p class="msg">{{m.time}}: {{m.text}}</p>
                {% endif %}
            {%endfor%}    
        </div>
    {%endfor%}    
    <br>
    <input type="button" value="Back" onclick="document.location.href='/index';">
{%endblock%}