{% extends 'baseHTML.html' %}
    {%block main%}
    <div class="container-fluid" id="topPage" >
        <button onclick = "window.open('/', '_parent')" id="GRbackButton" class="backButton"> Go Back</button>
        <h1 style="color:white">GameRooms</h1>
    </div>
    
    <div id="midPage" class="container-fluid">
        <div class="centerItems" >
            <div class="gameNodes">Room 1<br> Turn 36 <br> Purple Adventure <br> Players: 3</div>
            <div class="gameNodes">Room 2</div>
            {%for room in rooms%}
            <div class="gameNodes">Room: {{room.roomID}}<br>Turn: {{room.turnNumber}} <br> {{room.roomName}} <br> Players: {{room.playerNumber}}</div>
            {%endfor%}
            <div class="gameNodes">
                <div>
                    <form action="{{ url_for('rooms', username=user.username) }}" method="POST">
                        Make Room<br>
                        <input type="text" name="room_name" placeholder="Room name" required><br>
                        Number of Players
                        <input type="number" name="num_players" min="1" max="4" required><br>
                        <input type="submit" value="Create Room">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="botPage">
        <div style="padding-top: 1vh; color:white">@2023 Copyright</div>
    </div>
{% endblock %}