{% extends 'baseHTML.html' %}
    {%block main%}
    <div class="container-fluid" id="topPage">
        <h1 style="color:white">Settings</h1>
    </div>
    
    <div id="midPage" class="container-fluid centerItems" style="color: white;">
        <form method="POST" action="">
            <label for="primColor">Primary Colour:</label>
            <input type="color" name="primColour" id="primColour" value="rgb(63, 55, 71)"><br><br>
            <label for="secoColor">Secondary Colour:</label>
            <input type="color" name="secoColour" id="secoColour" value="rgb(38, 40, 43)"><br><br>
            <label for="secoColor">Adjust volume:</label>
            <input type="range" name="thirdColor" value="100"><br><br>
            <label for="textColour">Text Colour:</label>
            <input type="color" name="textColour" id="textColour" value="rgb(0, 0, 0)"><br><br>
            <input type="submit" value="Submit"><br><br>
            <button onclick = "window.open('/', '_parent')" class="backButton"> Go Back</button>
        </form>
    </div>

    <script>
        let colourInput = document.getElementById('primColour');
        let colourInput2= document.getElementById('secoColour');
        let textColour = document.getElementById('textColour')
        // Whenever the user changes the color, the input event will be called.
        colourInput.addEventListener('input', () =>{
           document.getElementById("topPage").style.backgroundImage = "linear-gradient(225deg ," + colourInput.value+" 50%," + colourInput2.value +" 90%)";
           document.getElementById("botPage").style.backgroundImage = "linear-gradient(225deg ," + colourInput2.value+" 50%," + colourInput.value +" 90%)";
        });
        colourInput2.addEventListener('input', () =>{
           document.getElementById("topPage").style.backgroundImage = "linear-gradient(225deg ," + colourInput2.value+" 50%," + colourInput.value +" 90%)";
           document.getElementById("botPage").style.backgroundImage = "linear-gradient(225deg ," + colourInput.value+" 50%," + colourInput2.value +" 90%)";
        });

        textColour.addEventListener('input', () =>{
            var elements = document.querySelectorAll('h1, div');
            for (var x = 0; x < elements.length; x++)
                elements[x].style.color = textColour.value;
        })

     </script>

    <div class="container-fluid" id="botPage">
        <div style="padding-top: 1vh; color:white">@2023 Copyright</div>
    </div>
{%endblock%}