{% extends 'baseHTML.html' %}
    {%block main%}
    <body class="bg">
    <div class="container-fluid" id="topPage">
        <div class="d-flex" style="padding-top: 0.3vh">
                <button onclick = "window.open('/index', '_parent')" class="backButton"> Go Back</button>
            <h2 style="color:white; left: 50%; display:block; margin:auto;">Settings</h2>
        </div>
    </div>
    <div class="pages">
        <div class="settingOptions hover">
            <nav>
                <a onclick="tabs(0)" class="tab active">Account</a>
                <a onclick="tabs(1)" class="tab">Appearance</a>
            </nav>

        </div>
        <div class="rightbox" style="overflow-y:scroll">
            <div class="account tabShow">
                <h1>Profile Info</h1>
                <form action="{{ url_for('settings') }}" method="POST">
                    <label>Username</label>
                    <input type="text" name="username" class="inputAccount" value="{{user.username}}">
                    <input type="submit" name="username-submit" value="Change username" style="margin:10px;background: #40334d;height:33px;width:140px;">
                    {% with messages = get_flashed_messages(category_filter=["username-error"]) %}
                    {% if messages %}
                    <div class="alert alert-danger" style="width:fit-content; padding:10px">
                    {{ messages[0] }}
                    </div>
                    {% endif %}
                    {% endwith %}
                    <p style="margin-left:20px;color:#6f6f6f;">The username will be also displayed to others</p><br><br>
                </form>
                <form action="{{ url_for('settings') }}" method="POST">
                    <label>Reset Password</label>
                    <input id="pass1" type="password" name="password1" class="inputAccount">
                    <label>Confirm Password</label>
                    <input id="pass2" type="password" name="password2" class="inputAccount">
                    <input type="submit" name="password-submit" value="Reset Password" style="margin:10px;background: #40334d;height:33px;width:140px;">
                    {% with messages = get_flashed_messages(category_filter=["password-error"]) %}
                    {% if messages %}
                    <div class="alert alert-danger" style="width:fit-content; padding:10px">
                    {{ messages[0] }}
                    </div>
                    {% endif %}
                    {% endwith %}
                </form>
                <br>
                <form action="{{ url_for('settings') }}" id="deleteAcc" method="POST" style="display:none;margin-top: 200px;padding:20px;border:1px solid blueviolet;">
                    <button type="button" class="btn cancel" style="color:white"onclick="closeConfirmDelete()">x</button>
                    <label>Type in your username to delete this account</label>
                    <input type="text" name="username" class="inputAccount">
                    <input type="submit" name="delete-submit" value="Confirm Delete" style="margin:10px;background: #40334d;height:33px;width:140px;">
                </form>
                <button type="button" id="delete" style="margin-top: 200px;" onclick="openConfirmDelete()">Delete Account</button>

            </div>
            <div class="appearance tabShow">
                <h1>Color Appearance</h1>
                <form action="{{ url_for('settings') }}" method="POST">
                    <label for="primColor">Primary Colour:</label>
                    <input type="color" name="primColour" id="primColour" value="{{settings.primaryColor}}"><br><br>
                    <label for="secoColor">Secondary Colour:</label>
                    <input type="color" name="secoColour" id="secoColour" value="{{settings.secondaryColor}}"><br><br>
                    <label for="secoColor">Adjust volume:</label>
                    <input type="range" name="thirdColour" value="100"><br><br>
                    <label for="textColour">Text Colour:</label>
                    <input type="color" name="textColour" id="textColour" value="{{settings.textColor}}"><br><br>
                    <input type="submit" name="color-submit" value="Save" style="width:100px;background: #40334d;"><br><br>
                </form>
                <form action="{{ url_for('settings') }}" method="POST">
                    <input type="submit" name="default-submit" value="Default Colors" style="width:130px; background:#40334d">
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="botPage">
        <div style="padding-top: 1vh; color:white">@2023 Copyright</div>
    </div>
    </body>
    <script src="{{url_for('static', filename='js/settings.js')}}"></script>
{%endblock%}