{% extends 'baseHTML.html' %}
    {%block main%}
    <h1>Sign up</h1>
    <form id="signup" class="box subs"> 
        <input class="inner bt" type="text" placeholder="Username"> 
        <input class="inner bt" type="email" placeholder="Email"> 
        <input class="inner bt" type="text" placeholder="Password"> 
        <input class="inner bt" type="text" placeholder="Confirm password">
        <input class="inner bt" type="submit" value="Sign up now!"> 
    </form>
    <script type="text/javascript" src="../js/signUpForms.js"></script>
{%endblock%}
